body {
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
	text-align: center;
}

.container {
	max-width: 960px;
}

footer {
    font-size: 14px;
	padding-top: 1px;
	border-top: 5px solid #eee;
	margin-top: 30px;
}

footer p {
	margin-bottom: 0.125rem;
	vertical-align: top;
}


h1 {
font-family: 'Permanent Marker', cursive;
font-size: 55px;
}

.won{
    background-image: url('fireworks.gif'); 
}
.lost{
    display: none;
    width: 528px;
    height: 292px;
    position: absolute;
    top: -10px;
    left: -185px;
}

/* center text in input fields */
/* for just placeholder:
    input::placeholder{ text-align: center; }
*/
input {
	text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

/* each guess li */
.guess {
  display: inline;
  border: 2px solid gray;
  border-radius: 10%;
  font-size: 40px;
  margin: 5px;
  padding: 0 25px;
  box-shadow: 2px 2px 2px darkgray;
  background-color: white;
}

input:focus,
textarea:focus,
.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

#player-input-section {
  width: max-content;
  width: -moz-max-content;   
  width: -webkit-max-content;
  margin: 1.5em auto;
  position: relative;
}
#player-input {
  color: #DC143C;
  font-size: 60px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  background: #fff;
  border: inset pink 5px;
-webkit-box-shadow: 20px 16px 58px 11px rgba(245,223,220,1);
-moz-box-shadow: 20px 16px 58px 11px rgba(245,223,220,1);
box-shadow: 20px 16px 58px 11px rgba(245,223,220,1);
  }
  
input#player-input:disabled {
  border-color: lightgrey;
  background: hsl(0, 0%, 91%);
}

#action-submit {
    border-radius: 50% 50% 10%;
    font-size: 20px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: -20px;
    top: 100px;
}

#hint {
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
  display: none;
}

#remaining-guesses {
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
  display: none;
}